.git
.gitignore
.github

.venv
venv
env
__pycache__
*.py[cod]
*.egg-info
.eggs

.env

.pytest_cache
.ruff_cache
.mypy_cache
htmlcov
.coverage

.vscode
.idea
.DS_Store

*.pdf

README.md
Dockerfile
docker-compose.yml
.dockerignore
